<div class="row">
  <div class="col-md-5">
    <h1>Pages#about</h1>
    <p>Find me in app/views/pages/about.html.erb</p>
  </div>
  <div class="col-md-5">
    <%= image_tag('https://i1.rgstatic.net/ii/profile.image/278806637105168-1443484090768_Q128/Juan_Rabanillo.jpg') %>
    <h1>Juan Rabanillo</h1>
    <p>MSc Computer Engineering</p>
  </div>
</div>