// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pages{
  .navbar{
    background-color: red;
  }
}
.pages{
  .main{
    margin-top: 50px;
    color: green;
  }
}